* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
  color: #d7e5e4;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #003250,
    #004d64,
    #066874,
    #35837f
  );
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20vh 1fr 10vh;
  gap: 20px;
}

.title {
  display: grid;
  grid-column: 2 / 4;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
}
.ingresos,
.gastos {
  border: 1px solid #051937;
  border-radius: 8px;
  padding: 30px;
  background-color: #d7e5e4;
  color: #051937;
  margin-left: 20px;
}
.ingresos {
  display: grid;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.gastos {
  display: grid;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input {
  display: block;
  margin: 5px;
  border-radius: 2px;
}
h1 {
  text-align: center;
  color: #d7e5e4;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
label {
  font-size: 1.2rem;
}

p {
  font-size: 1.8rem;
  margin-top: 10px;
}

.container-button {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.container-button button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #051937;
  background-color: #d7e5e4;
  color: #051937;
  font-size: 1.3rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.resultado-porcentaje-title {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.resultado {
  display: grid;
  justify-content: start;
  align-content: center;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.pedro-gutierrez {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.pedro-gutierrez h3 {
  font-size: 1.2rem;
  font-weight: 100;
}
