* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
  color: #d7e5e4;
}
body {
  background-color: #051937;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.title {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Cards */
.ingresos,
.gastos {
  border: 1px solid #051937;
  border-radius: 8px;
  padding: 30px;
  background-color: #d7e5e4;
  color: #051937;
  margin: 10px 20px;
}
.ingresos {
  display: grid;
  justify-content: center;
}
.gastos {
  display: grid;
  justify-content: center;
}

/* font-size and details */
input {
  display: block;
  margin: 5px;
  border-radius: 2px;
}
h1 {
  text-align: center;
  color: #d7e5e4;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
label {
  font-size: 1.2rem;
}

p {
  font-size: 1.8rem;
  margin-top: 10px;
  text-align: center;
}

/* Button */
.container-button {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

.container-button button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #051937;
  background-color: #d7e5e4;
  color: #051937;
  font-size: 1.3rem;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/* Results */
.resultado-porcentaje {
  display: grid;
  align-content: center;
}
.resultado-porcentaje h2 {
  height: 30px;
}
.resultado-porcentaje .resultado {
  height: 100px;
}
/* Created by Pedro Gutiérrez */
.pedro-gutierrez {
  display: grid;
  justify-content: end;
  margin: 10px;
}
.pedro-gutierrez h3 {
  font-size: 1rem;
  font-weight: 100;
}
