main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title {
  grid-column: 1 / 3;
}
.container-button {
  margin-top: 10px;
  display: grid;
  grid-column: 1 / 3;
}
.resultado-porcentaje {
  width: 100%;
  grid-column: 1 / 3;
}
.resultado-porcentaje h2 {
  margin: 0;
}
.resultado-porcentaje .resultado {
  display: grid;
  width: 400px;
  justify-self: center;
  align-items: center;
  grid-column: 2 / 3;
  margin: 0;
}
.pedro-gutierrez {
  grid-column: 1 / 3;
}
